// Utilities

// Margin Top && Bottom //
.mtb-10 {
  margin: 10rem 0;
}
.mtb-5 {
  margin: 5rem 0;

  @include respond(phone) {
    margin: 3rem 0;
  }
}

// Margin Bottom //
.mb-10 {
  margin-bottom: 10rem;
}

// Margin Top
.mt-10 {
  margin-top: 10rem;
}
