// Variables

// COLORS //
$white: #fff;
$black: #000;

$blue-1: #3f72af;
$blue-2: #6b81be;
$dark-blue-1: #112d4e;
$dark-blue-2: #404b7c;
$light-blue-1: #9ab3da;
$light-blue-2: #dbe2ef;
$white-1: #f9f7f7;
$white-2: #c2d4eb;
$red: #c92929;
$grey: #656565;
